/* src/styles/colors.css */
:root {
    --color-1: #2a6735;
    --color-2: #3f7649;
    --color-3: #55855d;
    --color-4: #6a9572;
    --color-5: #7fa486;
    --color-6: #95b39a;
    --color-7: #aac2ae;
    --color-8: #bfd1c2;
    --color-9: #d4e1d7;
    --color-10: #eaf0eb;
    --color-11: #ffffff;
}