@import '../styles/colors.css';

/* src/styles/Home.module.css */
.mainContainer {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
    z-index: 1000;
    gap: 1rem;
    
    box-sizing: border-box; /* Asegura que el padding esté incluido en las dimensiones */
}


h2 {
    margin: 0; /* Sin márgenes en los encabezados */
}
