@import '../styles/colors.css';

.overlay {
    position: fixed; /* Posicionar el modal */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-8); /* Fondo oscuro con opacidad */
    display: flex;
    align-items: center; /* Centrar contenido verticalmente */
    justify-content: space-between; /* Centrar contenido horizontalmente */
    z-index: 1000; /* Asegurarse de que esté sobre otros elementos */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s ease, visibility 0.4S ease;
    gap: 1rem;
}

.flex {
    opacity: 1;
    visibility: visible;
}

.modalContent {
    background-color: var(--color-); /* Fondo del modal */
    width: 100%; /* Ancho del modal */
    height: 100%; /* Altura del modal */
    padding: 20px; /* Espaciado interno */
    border-radius: 0; /* Bordes redondeados, ajusta a 0 para ocupar toda la pantalla */
    position: relative; /* Posicionar relativo para los elementos internos */
    box-sizing: border-box; /* Incluir padding y border en el tamaño total */
    transform: scale(0.9);
    transition: transform 0.4s ease;
}
.flex .modalContent {
    transform: scale(1);
}

.header {
    display: flex;
    justify-content: flex-end; /* Espacio entre RRSS y el botón del menú */
    align-items: center; /* Centrar verticalmente */
    margin-bottom: 20px; /* Espacio debajo del encabezado */
    padding-top: 4.8rem;
    margin-top: 3.8rem;
    gap: 1rem;
}

.categoryList {
    text-align: center; /* Alinear texto en el centro */
    margin-top: 2rem;
}

.categoryList h2 {
    text-align: center;
}

.categoryList li {
    background-color: var(--color-7);
    padding: 0.3rem;
    margin: 0.2rem;
    border-radius: 8px;

}
